// Buttons
.button {
  @include transition(background, 0.1s);
  @include border-radius;
  @include font-size(12);
  color: $white;
  cursor: pointer;
  background: $primary-link;
  border: 0;
  font-weight: bold;
  margin: 0;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;

  &.button-small {
    padding: 5px 12px;

    &.button-icon {

      .icon {
        @include font-size(10);
      }
    }
  }

  &.button-large {
    @include font-size(16);
    padding: 12px 32px;

    &.button-icon {

      .icon {
        margin: 0 10px 0 0;
      }
    }
  }

  &.button-icon {

    .icon,
    .icon-social,
    .icon-social-circle {
      @include opacity(50);
      margin: 0 7px 0 0;
      vertical-align: middle;
    }

    .icon {
      @extend .ss-icon;
    }

    .icon-social {
      @extend .ss-social;
    }

    .icon-social-circle {
      @extend .ss-social-circle;
    }
  }

  &.button-cancel {
    color: $primary-text;
    background: none;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: none;
      color: $primary-text;
      text-decoration: underline;
    }
  }

  &.button-buy {
    background: $purchase;

    &:hover {
      background: $purchase-light;
    }
  }

  &.button-disabled {
    background: $background-disabled;
    color: $secondary-text;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $white;
    background: $primary-link-light;
  }
}
